<%layout('layouts/boilerplate')%>

<div class="container d-flex justify-content-center align-items-center">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card shadow">
        <img class="card-img-top"
          src="https://res.cloudinary.com/tolisman/image/upload/v1647271991/CoffeeShopProject/shawnanggg-nmpW_WwwVSc-unsplash_xywjb1.jpg"
          alt="login image">
        <div class="card-body">
          <h5 class="card-title">Login</h5>
          <form action="/login" method="post" class="validated-form" novalidate>
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input type="text" class="form-control" id="username" name="username" autofocus required>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>

            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" name="password" required>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
            <div>
              <div class="d-grid">
            <button class="btn btn-success">Login</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>